<a href="https://colab.research.google.com/github/DiscoSnails/code4climate/blob/main/tuesday/tuesday.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Topics to be covered:***


*   Basic data types and syntax
*   Control structures
*   Important data structures
*   Function declarations

# ***Comments in Our Code:***

*Comments are useful for us to understand the code when we look at it at a later time. *

`#` *used for in line comments*


` ''' Multi-line Comments '''` Remember this only works in python (.py) files and does not work in notebook (.ipynb) files.

In [77]:
# This entire line is commented
# This line is commented too

print(" anything after # in a single line is commented or ignored by the python program ") # This is commented too

 anything after # in a single line is commented or ignored by the python program

# ***Demonstrate an Example Code***

In [78]:
# Example Code Demonstration
# Mad Lib created by Jesus

noun1 = input("Please enter a noun: ")
noun1=str(noun1)
pluralnoun1 = input("Please enter a plural noun: ")
pluralnoun1=str(pluralnoun1)
noun2 = input("Please enter another noun: ")
noun2=str(noun2)
pluralnoun2 = input("Please enter a different plural noun: ")
pluralnoun2=str(pluralnoun2)
print("Once that's done, I get some " + pluralnoun1 + ", and then its off to my first " + noun1 + ".")
#Story
print("Every day, the mighty " + noun1 + " walked across the river known as the Magical River of Life ")
print("One day, while walking on the river, the scary " + pluralnoun1 + " suddenly appeared in a group, and were determined to take down the " + noun1 + "!")
print("However, to the relief of the " + noun1 + ", the feared " + noun2 + " came to save the day from the " + pluralnoun1 + "!")
print("Together, with the help of the " + pluralnoun2 + ", they managed to scare away the " + pluralnoun1 + " and save the " + noun1 + "!")

Please enter a noun: dave
Please enter a plural noun: dave
Please enter another noun: dave
Please enter a different plural noun: dave
Once that's done, I get some dave, and then its off to my first dave.
Every day, the mighty dave walked across the river known as the Magical River of Life
One day, while walking on the river, the scary dave suddenly appeared in a group, and were determined to take down the dave!
However, to the relief of the dave, the feared dave came to save the day from the dave!
Together, with the help of the dave, they managed to scare away the dave and save the dave!

# ***Variables***

*Variables in Python are defined and typed for you when you set a value to them In Python, variable names must follow certain rules:*


*   A variable name must start with a letter or the underscore character.
*   A variable name cannot start with a number.
*   A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _).
*   Variable names are case-sensitive (age, Age and AGE are three different variables)



---
**Always choose variable names so that, the name itself makes sense with what they are going to be used for. Do not choose any variable names so that at a later time when you are looking at the code, you can not get an idea about where that particular variable is used.**


Also, do not mix uppercase and lowercase characters when declaring a variable. We recommend using **lowercase characaters**.

---



*Good variable name selection. Human readable and consistent formating*
```
noun = 'chair'
number_1 = 24
year = 2020
```

*bad variable name selection*
```
Noun = 'chair'
Number1 = 24
sdfas = 2020
```

In [80]:
# Demonstrate some use of variables
words = 2

# ***`input()` statement***

The `input()` function in Python is used to take input from the user. It reads a line of text entered by the user and returns it as a string. The syntax for the `input()` function is as follows:



```
input([prompt])
```
Here, the prompt parameter is optional. It is a string that represents a default message before the input. If you want to write a message before the input, you can use this parameter.

Here’s an example:



```
name = input("Enter your name: ")
print("Hello, ", name)

```

In [ ]:
# input() statement

# ***Python Data Types and Syntax***




> *Numerical data types:*
  * `a = 33` (integer)
  * `a = 33.0` (floating point)
  * `a = True` (boolean) ---> can only have 2 values, i.e. 1 for True, 0 for False  

> *Characters are strings of length one. Lenth of string is equal to the number of the character in the string.*
  * `c = "u"` or `c = 'u'`

> *Check type of variables with `type()`:*
  * `type(33) = int`

In [ ]:
my_variable = 2
print(my_variable)
type(my_variable)


***If you accidentally mistype a variable name, Python will not catch it for you. This can lead to bugs that can be hard to track - so beware***

In [81]:
my_varible = my_variable+1
print(my_variable)

# See how the code ran and do not show any errors

NameError: ignored

# ***Practice Problem***
*Your neighbor has an apple tree and he gives you some apples. You also have some apples from yesterday. Write a code to calculate the total number of apple you have. The program should ask for number of apples your neighbor gives you and the number of apple you had before.*

In [2]:
# Apple problem codeblocks

number_of_apples_neighbor = input("Enter the number of apples your neighbor gives you: ")
number_of_apples_mine = input("Enter the number of apples your already have with you: ")

print(int(number_of_apples_neighbor) + int(number_of_apples_mine))

Enter the number of apples your neighbor gives you: 10
Enter the number of apples your already have with you: 5
15

# ***Types and Typecasting***

*Typecasting is a mean to convert the type of variable once it is originally assigned.The usual typecasting is available in Python, so it is easy to convert strings to ints or floats, floats to ints, etc.*

In [ ]:
a = "1"
b = 5
print(a+b)

In [ ]:
a = "1"
b = 5
print(int(a)+b)

*Note that the typing is dynamic. I.e. a variable that was initally say an integer can become another type (float, string, etc.) via reassignment.*

In [4]:
a = "1"
type(a)
print(type(a))

a = 1.0
print(type(a))

<class 'str'>
<class 'float'>

*Typecasting is usually required when asking for user input by using the `input()` statement. *



```
number_1 = int(input("Enter a number: "))
number_2 = int(input("Enter another number: "))

print(number_1 + number_2)

```

In [ ]:
# input() revisit

# ***Mathematical & Logical Operators***

*   addition, subtraction, multiplication, division:
  * `2+2`, `43-5`, `4*3`, `3/2`


*   Modulus
  * `3%2 = 1`
*   exponentiation
  * `2**3 = 8`
*   logical operators
  * `and`, or, `not`
  * `== , != , < , <= , > , >=`

In [10]:
print(3/4)
print(3.0 / 4.0)
print(3%4)
print(3//4)
print(3**4)

0.75
0.75
3
0
81

# ***print() Statement***
*Places output on the screen*
```
i = 34
print(i)
```
*Use comma between variables you want printed on the same line (i.e., comma will suppress a newline)*
```
i = 3
j = 4
print(i)
print(i,j)
```
***The print() statement is extremely important for debugging a code. Usually when you write a code, it may contain some mistake. Debugging is finding that error based on the error statement from your compiler.***

# ***Practice Problem***

*Make a calculator using python, that can obtain two numbers from the user and add them together.*

In [8]:
# blocks for writing the calculator code.

number_1 = int(input('Number 1 = '))
number_2 = int(input('Number 2 = '))

print(number_1 + number_2)

Number 1 = 5
Number 2 = 5
10

# ***Practice Problem***

*Accept three numbers and print out their average*

In [21]:
# blocks for average calculation

number_1 = int(input('Number 1 = '))
number_2 = int(input('Number 2 = '))
number_3 = int(input('Number 3 = '))

print((number_1 + number_2 + number_3) / 3)

Number 1 = 5
Number 2 = 3
Number 3 = 7
5.0

# ***Whitespace matters!***

*Python does not use any braces (like {} in C) to separate one code blocks from other. All lines with the same indentation are part of the same block/scope. Therefore, it is absolutely important to avoid any unintentional whitespaces while writing code in python.*

The advantage of such approach is that, you need to type less and the code is automatically **made beautifully arranged** by the structure itself.

# ***Conditional Statements***

***`if , elif, else`***

Nothing remarkable here, just need to learn the syntax. Here, we should also mention spacing. Python is picky about indentation - you must start a newline after each conditional statement and indent the same number of spaces for every statement within the scope of that condition.

```
a = 20
if a >= 22:
   print("the code is going to if")
elif a >= 21:
    print("the code is going to elif")
else:
    print("the code is going else")
```

In [ ]:
# if/else/elif code block

a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

# ***Practice Problem***

*Write a program that ask for a number from the user. But for multiples of
three print “Fizz” instead of the number and for the multiples of five print “Buzz”. For numbers which are multiples of both three and five print “FizzBuzz*

In [37]:
num = int (input ('Enter The Number Whose Divisibility Needs To Be Checked:'))
div = 3
div_2 = 5
if num % div == 0 and num % div_2 == 0:
  print ('FizzBuzz')
elif num % div_2 == 0:
  print('Buzz')
elif num % div == 0:
  print('Fizz')
else:
  print ('This Number Is Not Divisible By 3 Or 5.')

Enter The Number Whose Divisibility Needs To Be Checked:4
This Number Is Not Divisible By 3 Or 5.

In [ ]:
# FizzBuzz Codeblock

# ***Practice Problem***

*Write a program to accept percentage from the user and display the grade according to the following criteria:*



```
Marks               Grades
 >90                   A
 >80 and <=90          B
>=60 and <=80          C
  below 60             D
```

In [44]:
# Grade calculation codeblock

mark = int(input('What Mark Did You Get? '))

if mark > 90:
  print('Your Grade Is An A.')
elif mark > 80 and mark <=90:
  print('Your Grade Is An B.')
elif mark >= 60 and mark <= 80:
  print('Your Grade Is An C.')
else:
  print('Your Grade Is An D.')

What Mark Did You Get? 95
Your Grade Is An A.

# ***Practice Problems***

*Write a program to check whether an year is leap year or not*

In [47]:
# Leap year code block

year = int(input('What Year Were You Born? '))
leap_occur = 4

if year%leap_occur == 0:
  print('Congrats! You were most likely born on a leap year!')
else:
  print('Sorry! You were most likely not born on a leap year!')

What Year Were You Born? 5720
Congrats! You were most likely born on a leap year!

# ***Practice Problem***

*Write a program to accept a number from 1 to 7 and display the name of the like 1 for Sunday, 2 for Monday and so on.*

In [51]:
# day of the week code block

number = int(input('Pick A Number From 1 Too 7! '))

if number == 1:
  print('The Day That Relates To The Number You Gave Is Sunday!')
elif number == 2:
  print('The Day That Relates To The Number You Gave Is Monday!')
elif number == 3:
  print('The Day That Relates To The Number You Gave Is Tuesday!')
elif number == 4:
  print('The Day That Relates To The Number You Gave Is Wednsday!')
elif number == 5:
  print('The Day That Relates To The Number You Gave Is Thursday!')
elif number == 6:
  print('The Day That Relates To The Number You Gave Is Friday!')
elif number == 7:
  print('The Day That Relates To The Number You Gave Is Saturday!')
else:
  print('Nope! Thats Not What I Asked You Too Do!! Try Again!')

Pick A Number From 1 Too 7! 2
The Day That Relates To The Number You Gave Is Monday!

# ***Practice Problem***

*Write a program to find the lowest number out of two number excepted from user*

In [60]:
# Lowest number code block

num_1 = int(input('Number 1 = '))
num_2 = int(input('Number 2 = '))

if num_1 > num_2:
  print(num_2, 'is the smallest number')
elif num_2 > num_1:
  print(num_1, 'is the smallest number')
elif num_1 == num_2:
  print('These numbers are the same!')
else:
  print('I dont even know how you managed this. But no.')

Number 1 = 876543
Number 2 = 4567890
876543 is the smallest number

# ***Practice Problem***

*Write a program to check if a number is divisible by 2 and 3 at the same time*

In [63]:
# code block for divisibility

num = int(input('Number = '))
div = 2
div_2 = 3

if num%div == 0 and num%div_2 == 0:
  print('This number is divisible by both 2 and 3!')
else:
  print('This is number is not divisible by 2 or 3!')

Number = 947
This is number is not divisible by 2 or 3!

# ***Practice Problem***

*Calculate the electric bill of a household. The program should ask for the power consumption in KWh (unit of power consumption). The charge of electricity increases incrementally as the usage increases and the rates are as follows:*



```
Cost[$/kWh]              Usage [kWh]
    1                        <50
   1.5                  <=50 and <80
    2                   <=80 and <200
   2.5                    above 200
```

In [75]:
usage = int(input('Hello! Please tell me what your KWh usage is! '))

if usage < 50:
  print('You are going to be charged 1 $/KWh')
elif usage <= 50 and usage < 80:
  print('You are going to be charged 1.5 $/KWh')
elif usage <= 80 and usage < 200:
  print('You are going to be charged 2 $/KWh')
elif usage >= 200:
  print('You are going to be charged 2.5 $/KWh')
else:
  print('I have no idea. I do not understand what you are saying.')

Hello! Please tell me what your KWh usage is! 7654
You are going to be charged 2.5 $/KWh

# ***Lists***

Lists are exactly as the name implies. They are lists of objects. The objects can be any data type (including lists), and it is allowed to mix data types. In this way they are much more flexible than arrays. It is possible to append, delete, insert and count elements and to sort, reverse, etc. the list.



```
a_list = [1,2,3,"this is a string",5.3]
b_list = ["A","B","F","G","d","x","c",a_list,3]
print(b_list)
print(b_list[7:9])
```


```
a = [1,2,3,4,5,6,7]
a.insert(0,0)
print(a)
a.append(8)
print(a)
a.reverse()
print(a)
a.sort()
print(a)
a.pop()
print(a)
a.remove(3)
print(a)
a.remove(a[4])
print(a)
```

***Elements are indexed from 0. Any string is essentially a list***

In [92]:
# Demo code block for lists

list = [1,3,3,40,582,2,5,7,2,8,3,3]
print(list)

list.append(56)
print(list)

list.remove(3)
print(list)

list.sort()
print(list)

list.reverse()
print(list)

[1, 3, 3, 40, 582, 2, 5, 7, 2, 8, 3, 3]
[1, 3, 3, 40, 582, 2, 5, 7, 2, 8, 3, 3, 56]
[1, 3, 40, 582, 2, 5, 7, 2, 8, 3, 3, 56]
[1, 2, 2, 3, 3, 3, 5, 7, 8, 40, 56, 582]
[582, 56, 40, 8, 7, 5, 3, 3, 3, 2, 2, 1]

# ***Loops or Iterators***
*Python has the usual iterators, while, for, and some other constructions that will be addressed later:*



```
for i in range(1,10):
     print(i)
```

*`range()` : the range function gives us values up to, but not including, the upper limit.*

```
i = 1
while i < 10:
    print(i)
    i+=1
```

`for()` and `while()` essentially do the same things. But depending on the situation one may be more convenient than other

In [85]:
# Code blocks for loops

i = 0

for i in range(1,10):
  print(i)

print('\n')

t = 0

while t < 10:
  print(t)
  t+=1

1
2
3
4
5
6
7
8
9


0
1
2
3
4
5
6
7
8
9

*Lists can be constructed using ‘for’ and some conditional statements. These are called, ‘list comprehensions’. For example:*



```
even_numbers = [x for x in range(100) if x % 2 == 0]
print(even_numbers)
```
*List comprehensions can work on strings as well:*




```
first_sentence = "It was a dark and stormy night."
characters = [x for x in first_sentence]
print(characters)
```

`len()` can be used to find the number of element in a list.



```
first_sentence = "It was a dark and stormy night."
number_of_character = len(first_sentence)
print(number_of_character)
```

In [86]:
# list demo
first_sentence = "It was a dark and stormy night."
number_of_character = len(first_sentence)
print(number_of_character)

31

# ***Practice Problem***

*Write a program that prints the numbers from 1 to 100. But for multiples of
three print “Fizz” instead of the number and for the multiples of five print “Buzz”. For numbers which are multiples of both three and five print “FizzBuzz"*



```
for i in range(1, 101):
    if i % 15 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)
```

In [88]:
# Fizz Buzz problem

for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

# ***Practice Problem***

*write a program to print first 10 natural number*

In [90]:
# blocks for practice

for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

# ***Practice Problem***

*write a program to print first 10 even number*

In [91]:
# blocks for practice

for i in range(1, 11):
  if i % 2 == 0:
    print(i)

2
4
6
8
10

# ***Practice Problem***

*write a program to print first 10 even number in reverse order*

In [94]:
# blocks for practice

list = []

for i in range(1,11):
  if i % 2 == 0:
    list.append(i)

list.reverse()
print(list)

[10, 8, 6, 4, 2]

# ***Practice Problem***

*write a program to print table of a number accepted from user*

In [97]:
# code blocks for table

list = []

for i in range(1,11):
  num = int(input('Number please! '))
  list.append(num)

list.sort()
print(list)

Number please! 5
Number please! 8
Number please! 8
Number please! 256
Number please! 3456
Number please! 1
Number please! 2478
Number please! 3
Number please! 6
Number please! 8
[1, 3, 5, 6, 8, 8, 8, 256, 2478, 3456]

# ***Practice Problem***

*write a program to find the factorial of a number (the number should be less than 20)*

In [98]:
# factorial code block

num = int(input('A number that is less then 20! '))

factorial = 1

if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

A number that is less then 20! 7
The factorial of 7 is 5040

# ***Practice Problem***

*Write a program to calculate the sum of first 10 natural numbers*

In [100]:
# sum of numbers

list = []

for i in range(1, 11):
  list.append(i)



print(sum(list))

55

# ***Practice Problem***

*write a program to find the sum of all digits in a number*

In [102]:
# code block for sum of digits

num = int(input('Number = '))

class Solution:
   def solve(self, num):
      sum=0
      while(num!=0):
         sum = sum+int(num%10)
         num=int(num/10)
      return sum
ob = Solution()
print(ob.solve(num))

Number = 456846709
49

# ***Practice Problem***

*write a program to find if a number is a prime number or not*

In [111]:
# code block for prime numbers

num = int(input("Enter A Number: "))

if num == 1:
    print(num, "is not a prime number.")
elif num > 1:
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number.")
           break
   else:
       print(num,"is a prime number.")

Enter A Number: 76
76 is not a prime number.

# ***Practice Problem***

*Accept 10 numbers from the user and display their average*

In [1]:
# code block for average

list = []

for i in range(1,11):
  num = int(input('Enter A Number: '))
  list.append(num)

average = sum(list)/len(list)
print("Average of list: ", round(average,3))

Enter A Number: 56
Enter A Number: 3
Enter A Number: 5
Enter A Number: 16
Enter A Number: 765
Enter A Number: 345
Enter A Number: 43
Enter A Number: 36
Enter A Number: 742
Enter A Number: 457
Average of list:  246.8

# ***Practice Problem***

*write a program to display all the numbers which are divisible by 11 but not by 2 between 100 and 500*

In [10]:
# divisible code block

div = 11
div_2 = 2

if num in range(100,501):
  if num % div == 0 and num % div_2 != 0:
    print(num)

# ***Functions***

*A Python function is a block of code that performs a specific task and can be reused in a program. There are two types of functions in Python: built-in functions that are provided by Python itself, and user-defined functions that are created by the programmer. You can define a function using the def keyword, and call it using the function name followed by parentheses. For example:*



```
def greet():
  print("Hello from a function")

greet()
```


```
def Division(a, b):
    print(a/b)
Division(3,4)
Division(3.0,4.0)
Division(3,4.0)
Division(3.0,4)
```

*The output of a function can also be redirected to a variable.*



```
def Division(a, b):
    return(a/b)
result = Division (4,2)
print(result)
```

In [11]:
# Function Demo

def dance():
  print('Do a funky little dance magic man!')

dance()

Do a funky little dance magic man!

# ***try/except***

**Python has another type of conditional expression that is very useful. Suppose your program is processing user input or data from a file. You don’t always know for sure what you are getting in that case, and this can lead to problems. The ‘try/except’ conditional can solve them!**



```
a = "1"
try:
  b = a + 2
except:
  print(a, " is not a number")
```

*In a statically typed language, the programmer would have specified the type of a and b (float, int, etc.) and the compiler would have complained about the function being passed a variable of the wrong type. This does not happen here, but we can use the try/except construction.*




```
def Division(a, b):
    try:
        print(a/b)
    except:
        if b == 0:
           print("cannot divide by zero")
        else:
           print(float(a)/float(b))
Division(2,"2")
Division(2,0)
```

In [13]:
# try except code block

def dance(a, b):
    try:
        print(a*b)
    except:
        if b == 0:
           print('nope')
        else:
          print(float(a)/float(b))

dance(8, '24')
dance(7, 92)

2424242424242424
644

# ***Practice Problem***

*Write a function to calculate the area of a rectange*

In [ ]:
# area of rectangle

# ***Practice Problem***

*Write a function that calculates the radius of a sphere from its volume*

In [ ]:
# radius calculation

# ***Practice Problem***

*Write a function that returns the square of any number given to it*

In [ ]:
# square problem

# ***Practice Problem***

*Using function calculate the summation of the square of first 10 natural numbers.*

In [ ]:
# square sum

# ***Practice Problem***

*Write a program to print out the first 10 digits of the Fibonacci sequence. Can you calculate the golden ratio from Fibonacci Sequence*

In [ ]:
# Fibonacci sequence

In [ ]:
# Try recursion with Fibonacci sequence