# ***Topics to be covered:***


*   Basic data types and syntax
*   Control structures
*   Important data structures, i.e. lists, strings, tuples, and dictionaries
*   Function declarations

# ***Comments in Our Code:***

*Comments are useful for us to understand the code when we look at it at a later time. *

`#` *used for in line comments*


` ''' Multi-line Comments '''` Remember this only works in python (.py) files

In [ ]:
# This entire line is commented
# This line is commented too

print(" anything after # in a single line is commented or ignored by the python program ") # This is commented too

 anything after # in a single line is commented or ignored by the python program

# ***Variables***

*Variables in Python are defined and typed for you when you set a value to them In Python, variable names must follow certain rules:*


*   A variable name must start with a letter or the underscore character.
*   A variable name cannot start with a number.
*   A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _).
*   Variable names are case-sensitive (age, Age and AGE are three different variables)



---
**Always choose variable names so that, the name itself makes sense with what they are going to be used for. Do not choose any variable names so that at a later time when you are looking at the code, you can not get an idea about where that particular variable is used.**

---

In [ ]:
# Demonstrate some use of variables

# ***Python Data Types and Syntax***




> *Numerical data types:*
  * `a = 33` (integer)
  * `a = 33.0` (floating point)
  * `a = True` (boolean)

> *Characters are strings of length one*
  * `c = "u"` or `c = 'u'`

> *Check type of variables with `type()`:*
  * `type(33) = int`

In [17]:
my_variable = 2
print(my_variable)
type(my_variable)

2

int


***If you accidentally mistype a variable name, Python will not catch it for you. This can lead to bugs that can be hard to track - so beware***

In [19]:
my_varible = my_variable+1
print (my_variable)

# See how the code ran and do not show any errors

2

# ***Types and Typecasting***

*The usual typecasting is available in Python, so it is easy to convert strings to ints or floats, floats to ints, etc.*

In [20]:
a = "1"
b = 5
print(a+b)

TypeError: ignored

In [23]:
a = "1"
b = 5
print(int(a)+b)

6

*Note that the typing is dynamic. I.e. a variable that was initally say an integer can become another type (float, string, etc.) via reassignment.*

In [25]:
a = "1"
type(a)
print(type(a))

a = 1.0
print(type(a))

<class 'str'>
<class 'float'>

# ***Mathematical & Logical Operators***

*   addition, subtraction, multiplication, division :
  * `2+2`, `43-5`, `4*3`, `3/2`


*   Modulus
  * `3%2 = 1`
*   exponentiation
  * `2**3 = 8`
*   logical operators
  * `and`, or, `not`
  * `== , != , < , <= , > , >=`

In [30]:
print(3/4)
print(3.0 / 4.0)
print(3%4)
print(3//4)
print(3**4)

0.75
0.75
3
0
81

# ***print() Statement***
*Places output on the screen*
```
i = 34
print(i)
```
*Use comma between variables you want printed on the same line (i.e., comma will suppress a newline)*
```
i=3
j=4
print i
print i,j
```
***The print() statement is extremely important for debugging a code***

# ***Practice Problem***

*Make a calculator using python, that can obtain two numbers from the user and add them together.*

In [ ]:
# blocks for writing the calculator code.

# ***Whitespace matters!***

*Python does not use any braces (like {} in C) to separate one code blocks from other. All lines with the same indentation are part of the same block/scope. Therefore, it is absolutely important to avoid any unintentional whitespaces while writing code in python.*

The advantage of such approach is that you need to type less and the code is automatically **made beautifully arranged** by the structure itself. *italicized text*

# ***Conditional Statements***

***`if , elif, else`***

Nothing remarkable here, just need to learn the syntax. Here, we should also mention spacing. Python is picky about indentation - you must start a newline after each conditional statement and indent the same number of spaces for every statement within the scope of that condition.

```
a = 20
if a >= 22:
   print("if")
elif a >= 21:
    print("elif")
else:
    print("else")
```

In [39]:
# if/else/elif code block

a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

# ***Practice Problem***

*Write a program that prints the numbers from 1 to 100. But for multiples of
three print “Fizz” instead of the number and for the multiples of five print “Buzz”. For numbers which are multiples of both three and five print “FizzBuzz*

In [38]:
# FizzBuzz Codeblock

# ***Practice Problem***

*Write a program to accept percentage from the user and display the grade according to the following criteria: *



```
Marks             Grades
>90
```

# ***try/except***

**Python has another type of conditional expression that is very useful. Suppose your program is processing user input or data from a file. You don’t always know for sure what you are getting in that case, and this can lead to problems. The ‘try/except’ conditional can solve them!**



```
a = "1"
try:
  b = a + 2
except:
  print(a, " is not a number")
```

In [35]:
# try/except codeblock

# ***Loops or Iterators***
*Python has the usual iterators, while, for, and some other constructions that will be addressed later:*



```
for i in range(1,10):
     print(i)
```

*`range()` : the range function gives us values up to, but not including, the upper limit.*

```
i = 1
while i < 10:
    print(i)
    i+=1
```

In [ ]:
# Code blocks for loops

1.3333333333333333